<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <body>
      <h1>Login Page</h1>
      <div>
         Username: <input name="username" id="username" type="text"/> <br><br>
         Password: <input name="password" id="password" type="password"/> <br><br>
         <button id="LoginUser" onclick="loginUser()">Login Account</button>
     </div>
      <br>
      Create an account <button type="button" onclick="window.location.href='/register'">Register Account</button>
      <br> <br>
      Visit Public Page <button type="button" onclick="window.location.href='/public'">Public Space</button>

      <script type="text/javascript" th:src="@{script.js}"></script>
   </body>
</html>